.container {
  display: flex;
  flex-direction: row-reverse;
  position: relative;

  .countryButton {
    padding: 0 16px;
    min-width: 64px;
    height: 48px;
    justify-content: center;
    align-items: center;
    text-wrap: nowrap;
    font-size: 16px;
    line-height: 24px;
    border-radius: 10px 0 0 10px;
    border-right: none;

    &.buttonFocus {
      border-color: var(--color-primary);
    }
  }

  .selectContainer {
    position: unset;
  }

  .phoneInput {
    padding: 12px 13px;
    width: 100%;
    height: 48px;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-dark);
    background-color: transparent;
    border: 1px solid var(--color-dark-80);
    border-radius: 0 10px 10px 0;
    outline: none;

    &.inputFocus {
      border-color: var(--color-primary);

      & ~ .selectContainer .countryButton {
        border-color: var(--color-primary);
      }

      & ~ .selectContainer .countryButton.selectError {
        border-color: var(--color-danger);
      }
    }

    &.error {
      border-color: var(--color-danger);
    }
  }
}
