.button {
  padding: 0 16px;
  height: 48px;
  min-width: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border-radius: 10px;
  border: none;
  outline: none;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  cursor: pointer;
}

.disabled {
  opacity: 0.7;
  cursor: default;
}

.fullWidth {
  width: 100%;
}

.icon {
  padding: unset;
  height: unset;
  min-width: unset;
  border-radius: unset;
}

.primary {
  color: var(--color-white);
  background: var(--color-primary);
}

.secondary {
  color: var(--color-dark);
  background: transparent;
  border: 1px solid var(--color-dark-30);
  box-shadow: 0 2px 8px 0 var(--color-dark-16);
}

.danger {
  color: var(--color-white);
  background: var(--color-red);
}

.smFont {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}
.lgFont {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}

.loadingIcon {
  margin-left: 8px;

  &,
  svg {
    width: 18px;
    height: 18px;
  }
}
