.container {
  padding: 5px 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  position: absolute;
  top: 16px;
  left: 16px;
  color: var(--color-primary);
  background: var(--color-white);
  border-radius: 10px;

  &.error {
    color: var(--color-danger);
  }
}
