.container {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  cursor: pointer;

  &:not(.mobile) {
    @media (max-width: 1024px) {
      display: none;
    }
  }

  &.mobile {
    margin-top: 8px;
    position: static;
    flex-direction: column;
    align-items: start;
    gap: 4px;

    .langButton {
      color: var(--color-gray-50);

      &.active {
        color: var(--color-gray);
      }
    }
  }
}

.langButton {
  padding: 0;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  color: var(--color-white-50);
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: var(--color-white-85);
  }

  &.active {
    color: var(--color-light);
  }
}
